* {
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  margin: 0;
}
 .card{
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  justify-content: center;
  max-width: 600px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  /* height: 500px; */
}
.pef-image {
  width: 50%;
}
.pef-image img{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.pef-discription{
  padding: 30px;
  width: 50%;
}
.pef{
  font-family: 'Montserrat';
  font-size: small;
  letter-spacing: 5px;
  color: gray;
  padding-bottom: 15px;
}
.pef-name{
  font-family: "fraunces";
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 20px;
}
.pef-about{
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: gray; 
  padding-bottom: 25px;
}
.pef-new-price{
  font-family: "fraunces";
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  color: teal;
  padding-bottom: 30px;
}
.per-normal-price{
  margin-left: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  text-decoration: line-through;
  vertical-align: 30%;

  
}
button{
  background-color: hsl(158, 36%, 37%);
  padding: 10px 30px 10px 30px;
  border: 1px solid hsl(158, 36%, 37%);
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-size: 10px;
  width: 100%;
 
}
button:hover{
  cursor: pointer;
  background-color: hsl(158, 71%, 16%);;
}
button img{
  padding-right: 10px;
  height:10px;
}

@media screen and (max-width: 900px) {
.card {
    flex-direction: column;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: white;
  overflow: hidden;
  border-radius: 10px; 
  }
  
.pef-image {
    width: 100%;
  }
.pef-image img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.pef-discription{
  padding: 30px;
  width: 100%;
}
.pef{
  font-family: 'Montserrat';
  font-size: small;
  letter-spacing: 5px;
  color: gray;
}
.pef-name{
  font-family: "fraunces";
  font-weight: 700;
  font-size: 33px;
  padding-top: 15px;
}
.pef-about{
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: gray;
  padding-top: 15px;
}
.pef-new-price{
  font-family: "fraunces";
  font-size: 30px;
  font-weight: 700;
  color: teal;

}
.per-normal-price{
  margin-left: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: gray;
  text-decoration: line-through;
  vertical-align: 30%;
}
button{
  background-color: hsl(158, 36%, 37%);
  padding: 15px 30px 15px 30px;
  border: 1px solid hsl(158, 36%, 37%);
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat',sans-serif;
  font-size: 12px;
  width: 100%;
}
button:hover{
  cursor: pointer;
  background-color: hsl(158, 71%, 16%);;
}
button img{
  padding-right: 10px;
  height:12px;
}

}